streamlit
pandas
numpy
plotly
requests
yfinance
gspread==6.*
google-auth==2.*
google-auth-oauthlib==1.*   # opcional, pero útil
gspread==6.0.2
google-auth==2.33.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
httplib2>=0.22.0
requests>=2.31.0
